.faq-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.faq-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 3.5rem;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.faq-header {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: center;
}

.faq-subtitle {
  opacity: 0.5;
}

.faq-content {
  width: 100%;
}

.faq-answer {
  width: 100%;
  text-align: start;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .faq-content {
    width: 66.666667%;
  }
}