.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  z-index: 0;
}

.navbar-logo {
  width: 1.25rem;
  height: 1.25rem;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 20;
  gap: 1.25rem;
  border-radius: 0;
  color: black;
}

.navbar-link {
  opacity: 0.6;
  transition: opacity 0.2s;
}

.navbar-link:hover {
  opacity: 1;
}